{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2>{{ task.title }}</h2>

    <p><strong>Description:</strong><br>{{ task.description }}</p>

    <p><strong>Due:</strong> {{ task.due_date }} at {{ task.due_time }}</p>

    <p>
        <strong>Status:</strong>
        {% if task.is_completed %}
            <span style="color:green;">Completed</span>
        {% else %}
            <span style="color:red;">Pending</span>
        {% endif %}
    </p>

    <p>
        <strong>Category:</strong>
        <span style="
            background:#e0e7ff;
            padding:5px 10px;
            border-radius:20px;
            font-size:14px;">
            {{ task.category|title }}
        </span>
    </p>

    <div style="margin-top:20px;">
        {% if not task.is_completed %}
            <a href="{% url 'task_mark_completed' task.id %}" class="btn btn-success">
                ✔ Mark as Completed
            </a>
        {% endif %}

        <a href="{% url 'task_list' %}" class="btn">
            🔙 Back to List
        </a>

        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">
            ❌ Delete
        </a>
    </div>
</div>

{% endblock %}
